extends layout/main-layout.pug


block content
    main.container
            if prods.length > 0
                each product in prods
                    div(class='card', style='width: 18rem')
                        img(
                            class='card-img-top',
                            src='http://placehold.it/400x200?text=Add-Product',
                            alt='Card image cap')
                        div.card-body          
                            h5.card-title #{product.title}
                            p.card-text  #{product.description}
                            p.product-price #{product.price}
                            a(class='btn btn-primary', href='#product') View Product
            else
                h1 No Products